### Laravel ###
/vendor
/node_modules
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
docker-compose.yml
docker-compose.override.yml
/.fleet
/.idea/
.vscode/
*.sublime-project
*.sublime-workspace

### Laravel 11 / Vite ###
/public/build
/public/hot
/storage/*.key
/storage/logs/
/storage/framework/
/bootstrap/cache/
/storage/pail

### Composer ###
composer.phar
auth.json

### Frontend (Node.js) ###
npm-debug.log
yarn-error.log
pnpm-debug.log
.DS_Store
Thumbs.db

### Windows системные файлы ###
# Если проект лежит на NTFS-разделе
Desktop.ini
$RECYCLE.BIN/